apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: vaultwarden-hpa
  namespace: potatostack
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: vaultwarden
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 85
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
    scaleUp:
      stabilizationWindowSeconds: 120
