# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-toml
    -   id: destroyed-symlinks
    -   id: detect-private-key

-   repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
    -   id: yamllint
        args: [--config-file, .yamllint.yaml]

-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format

-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
    -   id: markdownlint

-   repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
    -   id: shellcheck

-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-mock-methods
    -   id: python-no-eval
    -   id: python-no-log-warn
    -   id: python-use-type-annotations
    -   id: rst-backticks
    -   id: rst-directive-colons
    -   id: rst-inline-touching-normal

-   repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.104.0
    hooks:
    -   id: terraform_docs
    -   id: terraform_fmt
    -   id: terraform_tflint
    -   id: terraform_validate

-   repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.495
    hooks:
    -   id: checkov

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
    -   id: mypy
        additional_dependencies: [ types-PyYAML ]
