---
- resources:
    cpu: true
    memory: true
    disk:
      - /mnt/seconddrive
      - /mnt/cachehdd
    uptime: true
- search:
    provider: duckduckgo
    target: _blank
- datetime:
    text_size: xl
