---
# Homepage Widgets Configuration

- resources:
    cpu: true
    memory: true
    disk:
      - /mnt/seconddrive
      - /mnt/cachehdd
    uptime: true
    units: metric
    refresh: 3000

- search:
    provider: duckduckgo
    target: _blank

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hourCycle: h23
