global:
  scrape_interval: 30s
  evaluation_interval: 30s
  external_labels:
    monitor: 'potatostack'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'fritzbox'
    static_configs:
      - targets: ['fritzbox-exporter:9787']

  - job_name: 'netdata'
    static_configs:
      - targets: ['netdata:19999']
