apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: stirling-pdf
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://stirling-tools.github.io/Stirling-PDF-chart
    chart: stirling-pdf
    targetRevision: 2.2.0
    helm:
      values: |
        ingress:
          enabled: true
          ingressClassName: nginx
          hosts:
            - host: pdf.lepotato.local
              paths:
                - path: /
                  pathType: Prefix
          tls:
           - secretName: stirling-pdf-tls
             hosts:
               - pdf.lepotato.local
  destination:
    server: https://kubernetes.default.svc
    namespace: documents
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
