# Minikube overrides for ingress-nginx

controller:
  service:
    type: NodePort
    nodePorts:
      http: 32080
      https: 32443
  admissionWebhooks:
    enabled: true
    patch:
      enabled: true
