# Speedtest Exporter (app-template)

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: miguelndecarvalho/speedtest-exporter
          tag: latest
        env:
          - name: SPEEDTEST_INTERVAL
            value: "3600"
          - name: SPEEDTEST_HOST
            value: ""
          - name: SPEEDTEST_PORT
            value: "8080"

service:
  main:
    ports:
      http:
        port: 9798

ingress:
  main:
    enabled: false

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 500m
    memory: 128Mi

