# Traefik TLS Configuration
# Defines certificate location for HTTPS termination
tls:
  certificates:
    - certFile: /certs/cert.pem
      keyFile: /certs/key.pem
  stores:
    default:
      defaultCertificate:
        certFile: /certs/cert.pem
        keyFile: /certs/key.pem
  options:
    default:
      minVersion: VersionTLS12
