---
# Install kubernetes-secret-generator
# https://github.com/mittwald/kubernetes-secret-generator
apiVersion: v1
kind: ServiceAccount
metadata:
  name: secret-generator
  namespace: potatostack-operators
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: secret-generator
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: secret-generator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: secret-generator
subjects:
  - kind: ServiceAccount
    name: secret-generator
    namespace: potatostack-operators
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: secret-generator
  namespace: potatostack-operators
  labels:
    app: secret-generator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: secret-generator
  template:
    metadata:
      labels:
        app: secret-generator
    spec:
      serviceAccountName: secret-generator
      containers:
      - name: secret-generator
        image: quay.io/mittwald/kubernetes-secret-generator:v3.4.0
        imagePullPolicy: IfNotPresent
        env:
        - name: WATCH_NAMESPACE
          value: ""
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
          seccompProfile:
            type: RuntimeDefault
