apiVersion: 1

datasources:
  # Thanos Query - Primary datasource for long-term metrics (SOTA 2025)
  - name: Thanos
    type: prometheus
    access: proxy
    url: http://thanos-query:10902
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 30s
      queryTimeout: 60s
      httpMethod: POST

  # Prometheus - Short-term high-resolution metrics (7 days)
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    editable: true
    jsonData:
      timeInterval: 30s
      queryTimeout: 30s

  # Loki - Log aggregation
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: Thanos
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: '$${__value.raw}'

  # Alertmanager - Alerts datasource
  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    jsonData:
      implementation: prometheus
